.AdvertisementFour_main{
    height:380px;
    width: 335px;
    background: white;
    margin: 10px;
 }
 .AdvertisementFour_header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
 }
 .AdvertisementFour_body{
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
 }
 .ad_fourImage{
    width: 140px;
    height: 100px;
    margin: 5px;
 }
 .AdvertisementFour_footer{
    padding: 15px;
 }